.htaccess
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/plugins
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz
.DS_Store
wp-content/themes/murray-guari/library/.sass-cache/
wp-content/themes/murray-guari/library/scss/.sass-cache/
wp-content/themes/murray-guari/Facebook/fb_ca_chain.bundle.crt

