/******************************************************************
Site Name: Murray Guari Trial Attorneys PL
Author: Scott Streit

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
.navbar-toggle {
	display: none;
}
.top-nav {
	margin: 0;
}