/******************************************************************
Site Name: Murray Guari Trial Attorneys PL
Author: Scott Streit

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/

.top-nav {
	margin: 0;
}

#inner-header {
	.building-icon {
		display: block;
		margin-top: 20px;
		float: right;
	}
}


/*********************
NAVIGATION STYLES
*********************/

#menu-main-nav-1 {
   li {
      &:first-child a {
         padding: 0 17px 0 20px;
      }

      a {
         padding: 0 19px;
         font-size: 12px;
      }
   }
} /* end #menu-main-nav-1 */

.slide {
   >div {
      top: 70px;
   }
}

.callout {
   .SocialIcons>img {
      margin-left: 7px;
   }
   img.hide7,.button {
      display: block;
   }
}