/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $sans-serif;
	font-size: 100%;
	line-height: 1.5;
	background: #c4b7a1 url(../images/body-background.png) repeat-x center top;
	color: #fff;
}

#inner-content {
	padding: 10px;
	background: #fff;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}
.center {
	text-align: center;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $sans-serif;
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	line-height: 1.333em;
	margin: 5px 0 10px;
	color: $bones-maroon;
	font-size: 1.6em;
	font-weight: normal;
}

h2, .h2 {
	line-height: 1.3em;
	margin: 0 0 12px 0;
	color: $bones-orange;
	font-size: 1.2em;
	font-weight: normal;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {}

#inner-header {
	padding-top: 10px;
	font-size: 12px;

	.header-top {
		text-align: center;
	}
	.logo {
		display: inline-block;
		margin: 0 auto;
		//display: inline-block;
		//float: left;
		//margin: -15px 25px 20px 0;
	}
	.tag-container {
		margin: 20px auto;

		.tag-line {
			font-style: italic;
			font-size: 15px;
		}
	}

	.building-icon {
		display: none;
		//margin-top: 20px;
		//float: right;
	}
	.search-form {
		display: none;
		//width: 100%;
		//text-align: right;
	}
	span  {
		margin-right: 20px;

		a {
			color: #fff;
			text-decoration: none;
		}
	}
	#searchform {
		display: inline-block;

		.search-box {
			width: 150px;
			height: 16px;
			border: none;
			background-color: #dcd5cf;
		}
		.search-button {
			background: url(../images/search-button.png) no-repeat center top;
			width: 20px;
			height: 20px;
			text-indent: -9999px;
			outline: none;
			border: none;
		}
	}
}


/*********************
NAVIGATION STYLES
*********************/

/*
#all navs have a menu-main-nav-1 class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/
#menu-main-nav-1 {
	display: none;
	border: 1px solid #ccc;
	border-bottom: 0;
	list-style: none;
	padding: 0;
	margin: 0 0 10px 0;
	border: 1px solid #ccc;
	border-bottom-color: #666;
	box-shadow: 0px 3px 3px #999;
	background-color: $menu-back;

	li {
		display: block;
		cursor: pointer;
		line-height: 40px;
		text-align: left;
		border-right: 1px solid #fff;
		border-left: 1px solid #666;

		&.menu-item-has-children>a:after {
			color: #333;
			content: ' ▾';
		}


		a {
			display: block;
			padding: 0 20px;
			color: #333;
			font-size: 18px;
			font-weight: normal;
			text-shadow: #fff 1px 1px 2px;
			text-decoration: none;


			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}


		}

		&:hover ul {
			display: block;
		}

		ul {
			display: none;
			border: 1px solid #666;
		}

		li {
			background-color: #fff;
			border: 0;
			a {
				padding: 0 40px;
			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {

		a {}

	}  /* end current highlighters */

} /* end menu-main-nav-1 */



#menu-footer-menu {

	>li {
		float: left;
		width: 157px;
		min-height: 120px;
		font-size: 12px;

		>a {
			font-weight: bold;
			text-transform: uppercase;
		}

		li {
			font-size: 10px;
		}
	}

	a {
		color: #fff;
		text-decoration: none;

		&:hover {
			color: $bones-orange;
		}

	}


}



/*********************
MOBILE MENU
*********************/
.mainmenu {
	background: #fff;
	padding: 10px 10px 0;
}
.navbar-header {
	position: relative;
	min-height: 45px;
}
.navbar-toggle {
	position: absolute;
	right: 5px;
	top: 5px;
	padding: 9px 10px;
	background-color: $bones-brown;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;

	.icon-bar+.icon-bar {
		margin-top: 4px;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: #ffffff;
}



/*********************
		HOME PAGE STYLES
*********************/
#slides {
	display: none;
}

.slide {
	position: relative;
	overflow: none;

	>img {
		width: 100%;
	}
	>div {
		display: none;
		position: absolute;
		right: 50px;
		top: 40px;
		width: 355px;
		height: 180px;
		background: rgba(255,255,255,0.75);
		padding: 18px 25px;
		font-size: 1.15em;
		border: 1px solid #999;
		box-shadow: 2px 2px 5px #555;
		color: #444;

		h2 {
			line-height: 1.5em;
			margin: 0;
			color: #4d1f2a;
			font-weight: bold;
			font-size: 1.4em;
		}

		p {
			font-size: 10px;
		}

		ul {
			list-style-type: disc;
			margin-left: 18px;
		}
	}
}

.slidesjs-navigation {
	display: none;
}

.sidebar {
	.callout {
		margin-top: 10px;

		&:last-child {
			height: auto;
		}

		ul {
			width: auto;
		}
	}
}

.callout {
	position: relative;
	border: 1px solid #ccc;
	margin-top: 20px;
	padding: 10px;
	height: 175px;
	overflow: hidden;
	a {
		//border-bottom: 1px solid #f68209;
	}

	h4 {
		font-size: 15px;
		color: #4d1f2a;
		cursor: pointer;
		font-weight: normal;
		border-bottom: 1px solid #f68209;
		margin: 0;
		padding-bottom: 9px;
		margin-bottom: 7px;

		a {
			color: $bones-maroon;
			text-decoration: none;
		}
	}

	p {
		font-size: 10px;
	}

	ul {
		list-style: none;
		float: left;
		width: 175px;
		margin: 0 0 0 7px;
		padding: 0;

		li {
				color: #666;
				font-size: 12px;
			a {
				line-height: 22px;
				font-size: 12px;
				color: $grey-link;
				text-decoration: none;

				&:hover {
					color: $bones-maroon;
					text-decoration: underline;
				}

				li:last a {
					color: $bones-orange;
				}
			}
		}
	}

	img {
		float: left;
		margin-top: 0;
		margin-bottom: 0;
	}

	span {
		color: #666;
		font-size: 12px;
		text-align: center;
	}

	.small-type {
		color: #666;
		font-size: 11px;
		width: 180px;
		height: 70px;
		line-height: 18px;
		margin: 0 0 10px 7px;
		white-space: nowrap;
		display: inline-block;
	}

	.SocialIcons {
		position: absolute;
		top: 8px;
		right: 10px;

		img {
			float: left;
			margin-left: 7px;
		}
	}
	ul.sidebar-news {
		float: none;

		li {
			background: url('../images/IconRSS.png') no-repeat 10px 68px;

			span {
				// position: absolute;
				// bottom: 10px;
				// left: 30px;
				padding-left: 20px;
				text-transform: uppercase;
			}
		}

		li.NewsFacebook {
			background-image: url('../images/IconFacebook.png');
		}

		span {
			display: block;
			text-align: left;
		}
	}

}

.latest-news {
	margin-top: 20px;
	h6 {
		background: #9d6238;
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9d6238), to(#51222a));
		height: 30px;
		line-height: 30px;
		padding: 0 10px;
		margin: 0;
		color: #fff;
		font-size: 1.2em;
		a {
			color: #ffffff;
			float: right;
			text-decoration: none;



			&:after {
				content: "▶";
				padding-left: 10px;

			}
		}
	}
	ul {
		margin: 0;
		display: table;

		li {
			height: 130px;
			padding: 10px 10px 10px 10px;
			border: 1px solid #999;
			border-top: none;
			color: #666;
			font-size: 12px;
			overflow: hidden;
			position: relative;
			background: url('../images/IconRSS.png') no-repeat 10px 100px;

			a {
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
			span {
				position: absolute;
				bottom: 10px;
				left: 30px;
				text-transform: uppercase;
			}
			p {
				margin: 0;
			}
			div a {
				display: table-cell;
				vertical-align: bottom;
			}


		}
		li.NewsFacebook {
			background-image: url('../images/IconFacebook.png');
		}
	}
}
	// span.icon {
	// 	background: url('../images/IconBlog.png') no-repeat 0 0;
	// 	width: 16px;
	// 	height: 16px;
	// 	display: inline-block;
	// 	position: absolute;
	// 	bottom: 10px;
	// 	left: 10px;
	// 	text-indent: 20px;
	// }




/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-bottom: 30px;
	color: $text;
	font-size: 11px;
}

		.hentry {

			header {}

			footer {
				margin-top: 30px;
			}

		} /* end .hentry */

		.single-title,
		.page-title {}

		.single-title {}

		.page-title {}

		.archive-title { }

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: #999;

			time {}
		}

		/* entry content */
		.entry-content {
			margin-bottom: 35px;

			p {
				font-size: 1em;
			}


			ul, ol, table, dl {}

			ul, ol {
				padding-left: 40px;
				list-style-type: disc;
				list-style-position: inside;

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			blockquote {

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			video, object {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: #eee;
				border: 1px solid #cecece;
				padding: 10px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		img.Left {
			float: left;
			margin-right: 10px;
		}
		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

		ul.VideoList {
			list-style: none;
			padding: 0;
		}
		.VideoList li {
			margin: 15px 0;
			width: 100%;
			height: 100%;
		}
		.VideoList div {
			float: right;
			height: 100px;
			width: 300px;
			margin-right: 50px;
			padding: 10px;
			border: 1px solid #ccc;
		}
		.VideoList p {
			width: 100%;
			font-size: 12px;
			margin-top: 0;
			line-height: 14px;
		}
/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}
	.pagination{
        text-align: center;
        ul {
            display: inline-block;
            white-space: nowrap;
            padding:0;
            clear: both;
            margin: 1px;
            li {
                padding: 0;
                margin: 0;
                float: left;
                display: inline;
                overflow: hidden;
                a, span {
                    margin: 0;
                    text-decoration: none;
                    padding: 0;
                    line-height: 1em;
                    font-size: 1em;
                    font-weight: normal;
                    padding: .5em;
                    min-width: 1em;
                    display: block;
                }
                span.current{
                	font-weight: bold;
                }
                a:hover, a:focus {

                }
            }
        }
    } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments {

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {

	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		} /* end .commentlist li ul.children */
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-right: -10px;
		margin-left: -10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {}
	li.depth-4 {}
	li.depth-5 {}

	/* general comment classes */
	.alt {}
	.odd {
		background: #eee;
	}
	.even {
		background: #fefefe;
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} /* end .commentlist .vcard */


	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {
		margin-left: 50px;

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		text-decoration: none;
		float: right;
		background: #4598bb;
		padding: 3px 5px;
		color: #fff;
		opacity: 0.65;
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 0.9em;

		&:hover,
		&:focus {
			opacity: 1;
		}

	} /* end .commentlist .comment-reply-link */

} /* end .commentlist */

/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			/* form validation */
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

	/* comment submit button */
	#submit {}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
CONTENT
*********************/
.Right {
	float: right;
	margin: 0 0 0 15px;
}
.Left {
	float: left;
	margin: 0 15px 0 0;
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {

	.post-date {
		display: block;
		color: $bones-orange;
		text-align: right;
	}

	.widget_recent_entries {
		li {
			margin-left: -5px;
			padding: 10px;
			border-bottom: 1px solid $bones-orange;

			&:last-child {
				border: 0;
			}
		}
	}
}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

/*********************
FOOTER STYLES
*********************/

.footer {
	min-height: 165px;
	clear: both;
	border-top: 1px solid #8A7A6A;
	background: #412715; /* Old browsers */
	background: -moz-linear-gradient(top,  #412715 0%, #543217 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#412715), color-stop(100%,#543217)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #412715 0%,#543217 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #412715 0%,#543217 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #412715 0%,#543217 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #412715 0%,#543217 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#412715', endColorstr='#543217',GradientType=0 ); /* IE6-9 */


	h3 {
		font-size: 1em;
	}

	h4 {
		font-size: 0.9em;
		margin: 1em 0;
	}

	span.caps {
		text-transform: uppercase;
	}
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {
		color: #fff;
		font-size: 10px;
	}
